{
  "presets": ["latest"],
  "plugins": [
    "transform-flow-strip-types",
    "transform-class-properties",
    ["babel-plugin-transform-builtin-extend", { globals: ["Error"] }],
    ["transform-runtime", {
       "polyfill": false,
       "regenerator": true
     }]    
  ]
}